* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, button, input, table, select, option {
    font: inherit;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 a {
    color: greenyellow;
    text-decoration: none;
}


header nav ul {
    list-style: none outside;
    display: flex;
    gap: 0 2em;
    padding-top: 0.5em;
}

header nav ul li span:hover {
    background-color: gray;
    padding: 1em;
    border-radius: 0.4em;
    opacity: 0.7;
}

header nav ul li a{ 
    text-decoration: none;
    color: greenyellow;
    font-size: 1.3em;
}

footer {
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 2em max(calc((100vw - 1400px) /2), 2em);
}

.section.site-header,
.section.site-footer {
    background-color: black;
    padding: 2em max(calc((100vw - 1600px)/ 2), 2em);
}

